{% extends 'base.html' %}

{% block content %}
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </tr>
            </thead>
            <tbody>
                {% for values in receipt %}
                    <tr>
                        <td>{{ values.vendor }}</td>
                        <td>{{ values.total }}</td>
                        <td>{{ values.tax }}</td>
                        <td>{{ values.date|date:"m/d/y" }}</td>
                        <td>{{ values.category.name }}</td>
                        <td>{{ values.account.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
